
/* =========================================
                Html, Body
============================================ */

html,
body {
    height: 100%;
}

body {
    color: #F4BBCE;
}

h2,
h3,
h4,
h6 {
    font-family: 'Source Serif Pro', serif;
    color: pink;
    size: 5em;
    
}

h1{
    font-family: 'Source Serif Pro', serif;
    color: white;
    font-size: 7em;  
}

p {
    font-family: 'Raleway', sans-serif
    font-size: 222em;
    font-weight: 400;
    line-height: 24px;
    color: #173751 ;
}

h5{

    font-family: 'Raleway', sans-serif
    font-size: 222em;
    font-weight: 400;
    line-height: 24px;
    color: white ;
}


section {
    background: #fff;
    overflow: hidden;
}


body {
 background-image: url("background.jpg"); !!!!!!
 background-color: #cccccc;
}


.portfolio-box{
    width: 100%;
    height: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.bgimg{
    width: 100%;
    height: auto;
    z-index: -999999999999;


}


.video{
    margin-left: 150px;
}

#headerpf h1{
    font-size: 6em !impo;
}

    
.typoanimatie{
    margin-top: 400px;
}
/* =========================================
                Home
============================================ */

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/ring.mp4") no-repeat;
    background-size: cover;
}


#home {
    background: none;
    height: 100%;
}


#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading-2 {
    color: ;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    font-family: 'Source Serif Pro', serif!important;
}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}

.home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}


.logo-body{
    margin-top: -17%;
}

.logo img{
    margin-bottom: -5%;
    width: 8%;
}


/* =========================================
                Buttons
============================================ */


.btn-primary {
  color: pink;
  background-color: #f4623a;
  border-color: #f4623a;    
}
.btn-primary:hover {
  color: #fff;
  background-color: #cf5331;
  border-color: #c34e2e;
}

.btn-general {
    
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: pink;
    border: 1px solid pink;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: pink;
    border: 1px solid pink;
}

.btn-pink {
    color: #fff;
    border: 1px solid pink;
    background-color: pink;
    margin-left: -0.1em;
    margin-top: 2%;

}

.btn-yellow:hover,
.btn-yellow:focus {
    color: pink;
    background-color: #212226;
    border: 1px solid #212226;
}

.btn-white {
    color: #212226;
    border: 1px solid pink;
    background-color: pink;
}

.btn-white:hover,
.btn-white:focus {
    color: black;
    background-color: black;
    border: 1px solid #212226;
}

/* =========================================
                Content Boxes
============================================ */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}



/* =========================================
                About 01
============================================ */

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}


/* =========================================
                About 02
============================================ */

#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}


/* Hover state */

.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}


/* Smooth transition */

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.about-item h3,
.about-item p {
   -webkit-transition: all 400ms linear;
    transition: all 400ms linear;  
}

/* =========================================
                Team
============================================ */

#team-left .vertical-heading {
    margin-top: -25px;
}

.textvideos{
    margin-top: 500px;
}

.team-member {
    margin: 8px;
    position: relative;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: #f4c613;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #fff;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}




/* =========================================
                Statement
============================================ */

#statement {
    background: url("../img/161.jpg") no-repeat fixed center;
    background-size: cover;
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
}

#tech-statement h3 {
    color:  white;
    font-size: 28px;
    line-height: 45px;
}

#tech-statement p {
    font-size: 14px;
    color: #f4c613;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}



/* =========================================
                Portfolio
============================================ */

#portfolio {
    padding-bottom: 160px;
}

#portfolio .vertical-heading {
    margin-bottom: 50px;
    margin-top: 
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}


#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
    color: pink;
    border-bottom: 3px solid pink;
}


.portfolio-item img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: -webkit-zoom-in;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

/* =========================================
                Footer
============================================ */

footer{
    background: #212226;
    padding: 30px;
    color: #5F6967;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
    margin-top: 1%;
}

footer p span {
    color: #f4c613;
}

.footerphoto{
    width: 3%;
    height: auto;
    
}

.footerphoto:hover{
    transform: scale(1.1);
}


.footertxt{
    margin-top: 100px;
}


@media only screen and (max-width: 600px){
    .footerphoto{
    width: 7%;
    height: auto;
    
}
}

/* =========================================
                Navigation
============================================ */

.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}

ul.navbar-nav>li>a {
    font-family: 'Source Serif Pro', serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -20px;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
    color: pink;
}


/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav>li>a {
    color: #173751;
}

.white-nav-top ul.navbar-nav>li>a:hover,
.white-nav-top ul.navbar-nav>li>a:focus {
    color: pink;
}


/* Scroll spy active state */

.white-nav-top ul.navbar-nav>li.active>a {
    color: pink;
    font-weight: 500;
}

@media only screen and (max-width: 900px){
    .maps iframe{
        width: 100%;
        height: 48vw;
        }
}

@media only screen and (max-width: 600px){
    .video iframe{
        width: 130%;
        height: 40vw;
        margin-left: -105px;
    }
    .maps iframe{
        width: 100%;
        height: 48vw;
        }

    .animation{
    margin-left: -30px;
}


    
}

.animation{
    margin-left: 10%;
}


#message{
    height: 240px;
}